html, body {
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 70%;
}

.template-page {
    margin-left: 15%;
    margin-right: 15%;
}

.create-payment-form {
    margin: auto 20px;
}